<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
		<title>Fortnite Profile</title>
	</head>
	<body>
		<nav>
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="#">Community</a></li>
				<li><a href="#">Leaderboard</a></li>
				<li><a href="#">Log in</a></li>
				<li><a href="#">Sign Up</a></li>
			</ul>
		</nav>
		