<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
		<link href="https://fonts.googleapis.com/css?family=Oswald:400,700" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Lato:400,700|Roboto+Slab:400,700" rel="stylesheet">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
		<title>Fortnite Profile</title>
	</head>
	<body id="stats">
		<nav class="nav">
		<div class="header">
			<div class="branding">FORTNITE</div>

			<form action="/stats" method="POST">
			<input type="text" placeholder="Username" name="username">

			<div class="right">
				<div class="radio">
				<i class="fab fa-playstation"></i>
				<input type="radio" id="platform" name="platform" value="ps4" checked="checked"> 
				<i class="fab fa-xbox"></i>
				<input type="radio" id="platform" name="platform" value="xbox"> 
				<i class="fab fa-windows"></i>
				<input type="radio" id="platform" name="platform" value="pc" id="pc">
				<button>Submit</button>  
				</div>
				<!-- <h1>Sign Up/Login</h1> -->
			</div>

			</form>
		</div>
		<div class="navbar">
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="#">Community</a></li>
				<li><a href="#">Statistics</a></li>
			</ul>
		</div>
		</nav>