<%include partials/header%>
<div class="jumbotron fade">
	<div class="description"> 
	<div class="textBox">
		<h1></h1>
		<p></p>
	</div>
	<a class="prev">&#10094;</a>
  	<a class="next">&#10095;</a>
	</div>
</div>
<div class="container">
	<div class="video">
		<h1 class="title">Trending Clips</h1>
		<div class="forceOverflow">
			<div class="videoInfo">
				<video controls>
					<source src ="http://localhost:8000/video" type="video/mp4">
				</video>
				<div class="textBox big left">
					<h1>Title</h1>
					<p>October 8 2018</p>
				</div>
				<div class="textBox right">
					<h1>1000000 Hits</h1>
				</div>
			</div>
		</div>
	</div>
	<div class="lb">
		<img src='https://fontmeme.com/permalink/181007/06d6c0204d34475f9fb76db037f2c1ee.png'>
		<div class="stats">
		<div class="lbWins lbStat">
			<h1>wins</h1>		
		</div>
		<div class="lbKills lbStat">
			<h1>kills</h1>
		</div>
		<div class="lbScore lbStat">
			<h1>score</h1>
		</div>
		</div>
	</div>
</div>
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script src="/scripts/main.js">
</script>
<!-- TRN-Api-Key: 47057d16-0959-4122-90a1-f3c27aa93d80 -->