<%include partials/headerStats%>
<div class="container containerBlock">
	<h1 class="title">Statistics</h1>
	<div class="lb">
		<div class="stats">
			<div class="ssolo lbStat">
				<h1>Solo</h1>
				<div class="kills">
					<h2>Kills</h2>
				</div>
				<div class="kd">
					<h2>K/D</h2>
				</div>
				<div class="wins">
					<h2>Wins</h2>
				</div>
			</div>
			<div class="sduo lbStat">
				<h1>Duo</h1>
				<div class="kills">
					<h2>Kills</h2>
				</div>
				<div class="kd">
					<h2>K/D</h2>
				</div>
				<div class="wins">
					<h2>Wins</h2>
				</div>
			</div>
			<div class="ssquad lbStat">
				<h1>Squad</h1>
				<div class="kills">
					<h2>Kills</h2>
				</div>
				<div class="kd">
					<h2>K/D</h2>
				</div>
				<div class="wins">
					<h2>Wins</h2>
				</div>
			</div>
		</div>
	</div>
</div>
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>

	