<%include partials/header%>
<h1>Stats</h1>
<div>
	<h1>Solo</h1>
	<h2>Kills</h2>
	<h2>K/D</h2>
	<h2>Wins</h2>
</div>
<div>
	<h1>Duo</h1>
	<h2>Kills</h2>
	<h2>K/D</h2>
	<h2>Wins</h2>
</div>
<div>
	<h1>Squad</h1>
	<h2>Kills</h2>
	<h2>K/D</h2>
	<h2>Wins</h2>
</div>