/*GRAYS
===================
#999999
#777777
#555555
#333333
#111111
*/

@font-face{
	font-family: "Burbank";
	src: url("/assets/fonts/burbankBigCondensedBlack.ttf");
}

*{
	margin: 0;
}
body{
    background: #575859;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
	background-size: cover;
}
a{
	color: inherit;
	text-decoration: none;
}
nav{
	min-height: 370px;
	background: url("/assets/img/headerBackground.jpg");
	min-width: 1024px;
	
}
.navbar{
	width: 100%;
	height: 50px;
	font-family: 'Oswald', 'Sans-Serif';
	font-weight: 700;
	margin-bottom: 20px;
}
.navbar ul{
	height: inherit;
	width: 65%;
	padding: 5px;
	display: block;
	margin: 20px 33%;
	font-size: 30px;
	text-align: center;
} 
.navbar ul li {
	color: #fff;
	height: 100%;
	min-width: 200px;
    margin: 0 1%;
    margin-top: -28px;
    padding: 5px 0;
    float: left;
    list-style: none;
}
.navbar ul li a:hover{
	color: rgba(250,250,250, 0.7);
}
.navbar ul li:hover{
	color: rgba(250,250,250, 0.7);
	border-bottom: #fff 4px solid;
}
.header{
	display: block;
	width: 100%;
	height: 70px;
	overflow: hidden;
	padding: 20px;
}
.header .branding{
	font-family: 'Burbank', 'Sans-Serif';
	font-size: 50px;
	margin-left: 300px;
	margin-right: 10%;
	display: inline;
	float: left;
	background: -webkit-linear-gradient( 270deg, #333 10%, #ba5a16 51%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.header form{
	display: inline;
	margin-right: 0;
}
.header form input[type="text"]{
	min-width: 500px;
	min-height: 50px;
	margin: 10px;
	padding: 0 20px;
	float: left;
	border: none;
	background-color: rgba(0,0,0,0.3);
	color: white;
	font-family: "Oswald", "sans-serif";
	font-size: 30px;
}
.header form input[type="text"]::placeholder{
	color: white;
}
.header form input[type="radio"]{
	display: none;	
}
.header .radio i{
	font-size: 30px;
	color: white;
}
.header .radio i:hover{
}
.header .radio{
	width: 40%;
	height: 100%;
	float: left;
	display: flex;
	justify-content: space-between;
	padding: 20px;
}
.header .right{
	display: inline;
	float: right;
	margin: 0 20px;
	width: 30%;
	height: 100%;
}
.header .right h1{
	float: right;
}
.header button{
	height: 30px;
}
.lb{
	background-color: #2e2e30;
	margin: 50px;
	float: right;
	width: 45%;
	height: 550px;
	display: block;
	overflow: hidden;
	font-family: 'Lato', sans-serif;
	box-shadow: 0px 8px 26px -2px rgba(0,0,0,0.7);
}
.lb img{
	text-align: center;
	color: white;
	position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 40px;
    margin-bottom: -20px;
}
.lb .stats{
	margin: 20px auto;
	width: 95%;
	height: 85%;
	display: flex;
  	justify-content: space-between;
}
.lbStat{
	width: 32%;
	margin: 8px 2px;
	background: #fefefe;
	box-shadow: 0px 8px 26px -2px rgba(0,0,0,0.7);
}
.lbStat h1{
	margin: 0px -1px 8px -1px;
	padding: 5px;
	background: linear-gradient(141deg, #1098ce 0%, #1fc8db 51%);
	font-size: 40px;
	text-align: center;
	text-transform: uppercase;
	color: #fefefe;
	font-family: 'Burbank', sans-serif;
	box-shadow: 0px 0px 26px 0px rgba(0,0,0,0.4);
}
.lb-sub{
	padding: 5px;
	display: flex;
  	justify-content: space-between;
}
.lb-sub h2{
	font-size: 22px;
	text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-weight: 700;
}
.lb-sub p{
	font-family: "Burbank", "sans-serif";
	font-size: 30px;
}
.lb-sub .textBox{
	width: 70%;
}
.lb-sub span img{
	width: 30px;
    margin: 20px 0px;
    margin-right: 30px;
}


